/* footer section */
.footer {
    background-color: #000000;
    height: 100px;
    text-align: center;
    &__icons {
        height: 23px;
        display: inline-block;
        margin: 20px 0;
    }
}
