@use "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

%semibold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
%spb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

$tr_time: 0.3s linear;
$bgc_tr: background-color $tr_time;

.content {
    width: 100%;
    max-width: 1195px;
    margin: 0px auto;
}

.header {
    width: 100%;
    height: 72px;
    background-color: #000000;
    display: flex;
    &__logo {
        height: 27px;
        width: 79px;
        margin-left: 36px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        margin-right: 57px;
        width: 442px;
        display: flex;
        justify-content: space-between;
    }
    .menu__link {
        text-decoration: none;
        opacity: 0.69;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 600;
        &:hover {
            opacity: 1;
            transition: opacity $tr_time;
        }
    }
}

.intro {
    background: url(../images/intro_bg.jpg);
    background-size: cover;
    height: 641px;
    padding-top: 108px;
    box-sizing: border-box;
    &__wrapper {
        padding-left: 36px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
    &__h1 {
        color: #ffffff;
        max-width: 516px;
        font-family: "Raleway", sans-serif;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 33px;
        &:after {
            content: "";
            width: 64px;
            height: 2px;
            background-color: #ffffff;
            display: block;
            margin-top: 35px;
            margin-bottom: 40px;
        }
    }
    &__subtitle {
        opacity: 0.8;
        max-width: 464px;
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
    }
    &__button {
        display: block;
        color: #ffffff;
        @extend %semibold;
        text-decoration: none;
        font-size: 15px;
        width: 131px;
        height: 38px;
        border: 2px #ffffff solid;
        text-align: center;
        line-height: 38px;
        margin-top: 40px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.356);
            transition: $bgc_tr;
        }
    }
    &__signup {
        height: 362px;
        width: 362px;
        border-radius: 4px;
        background: #ffffff;
        margin-top: 32px;
        margin-right: 58px;
    }
    .signup {
        text-align: center;
        position: relative;
        .sinup__description {
            color: #000000;
            height: 54px;
            color: #333333;
            font-family: "Open Sans";
            font-size: 20px;
            background-color: #f5f5f5;
            font-weight: 700;
            border-radius: 4px;
            line-height: 54px;
        }
        .sinup__description-orange {
            color: #ff8b38;
        }

        &__field {
            width: 285px;
            border: none;
            border-bottom: 1px #bdbdbd solid;
            margin: 29px 40px;
            font-size: 14px;
            font-weight: 400;
        }
        &__submit {
            width: 100%;
            height: 54px;
            position: absolute;
            border: none;
            background-color: #ff9b51;
            bottom: 0;
            left: 0;
            font-size: 15px;
            color: #ffffff;
            @extend %semibold;
            &:hover {
                background-color: #ff9c51bb;
                transition: $bgc_tr;
            }
        }
    }
}

.social {
    height: 105px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    &__wrapper {
        @extend %spb;
        height: 100%;
        padding-left: 37px;
        padding-right: 75px;
        box-sizing: border-box;
    }
}

.h3 {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.subtitle {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.tabs {
    height: 595px;
    background-color: #f5f5f5;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 147px;
        box-sizing: border-box;
    }
    &__blocks {
        margin-left: 28px;
        line-height: 20px;
    }
    &__tab {
        width: 112px;
        height: 112px;
        text-align: center;
        line-height: 112px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 700;
        border-radius: 3px;
        text-transform: uppercase;
        background-color: #333333;
        border-bottom: #f5f5f5 2px solid;
        &:hover {
            background-color: #ff8b38;
            transition: $bgc_tr;
        }
    }
    &__description {
        max-width: 476px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__icon {
        margin-top: 23px;
    }
    &__button {
        height: 46px;
        line-height: 46px;
        margin-bottom: 33px;
    }
}

.orange-button {
    color: #ffffff;
    @extend %semibold;
    font-size: 15px;
    background-color: #ff8b38;
    text-decoration: none;
    text-align: center;
    width: 121px;
    border-radius: 3px;
    &:hover {
        background-color: #333333;
        transition: $bgc_tr;
    }
}
