$tr_time: 0.3s linear;
$bgc_tr: background-color $tr_time;

%semibold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

%spb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%title-after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    margin: 30px 0;
}

%contact-form {
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
